{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Sample EBS Volume with EC2 instance template",
  "Resources": {
    "NewVolume": {
      "Type": "AWS::EC2::Volume",
      "Properties": {
        "Size": 100,
        "Encrypted": true,
        "Tags": [
          {
            "Key": "MyTag",
            "Value": "TagValue"
          },
          {
            "Key": "RegionTag",
            "Value": {
              "Ref": "AWS::Region"
            }
          },
          {
            "Key": "yor_trace",
            "Value": "5d1d1b3b-db69-45c0-9a3f-8a5e96b4b72d"
          },
          {
            "Key": "yor_name",
            "Value": "NewVolume"
          }
        ],
        "AvailabilityZone": "us-west-2a"
      },
      "DeletionPolicy": "Snapshot"
    }
  },
  "Outputs": {
    "VolumeId": {
      "Value": "NewVolume",
      "Export": {
        "Name": "NewVolume"
      }
    }
  }
}
